<a href="https://colab.research.google.com/github/Rinku9935/2001206105_ECE/blob/main/AIML2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hello')

hello

In [ ]:
print('hello abit') 
print('department of ece')

hello abit
department of ece

In [ ]:
print('hello',end=' ')
print('dept of abit')

hello dept of abit

In [ ]:
# using of sep='' in print().
a=2
b=3
c=1999
print(a,b,c,sep='/')

2/3/1999

In [ ]:
a=19+6j
print(a,type(a))
a='2.2'
print(a,type(a))

(19+6j) <class 'complex'>
2.2 <class 'str'>

In [ ]:
#using list data type MEMBERSHIP OPER...
a=[10,20,"python"]
a[2]=10
a[1]=10
print(a,type(a))

[10, 10, 10] <class 'list'>

In [ ]:
#tuple data type
t=(10,"hello",90)
print(t,type(t))

(10, 'hello', 90) <class 'tuple'>

In [ ]:
a=int(input("enter the value of a="))
if(a%2==0):
    print("the no. is even")
else:
   print("the no is odd")

enter the value of a=44
the no. is even

In [ ]:
#using set data type
a={
    "now",10,22,22,10,'now'
}
print(a,type(a))
a=2.2

{10, 'now', 22} <class 'set'>

In [ ]:
#using dictionary data type
d={
   'sandip':"rinku",2:"ece",1:"abit"
    }
  
print(d,type(d))

{'sandip': 'rinku', 2: 'ece', 1: 'abit'} <class 'dict'>

In [6]:
#using if,elif,else statement
a=int(input("enter the value 1:"))
b=int(input("enter the value 2:"))
oper=input("enter the operator(+,-,*,/)")
if(oper=="+"):
   print(a+b)
elif(oper=="-"):
   print(a-b)
elif(oper=="*"):
   print(a*b)
elif(oper=="/"):
             print(a/b)
else:       
   print("invalid operator")

enter the value 1:4
enter the value 2:5
enter the operator(+,-,*,/)+
9

In [ ]:
r=float(input("enter the r value:"))
a=3.141*r*r
print('Area=',a)
p=2*3.141*r
print("perimeter=",p)

enter the r value:3
Area= 28.269
perimeter= 18.846

In [ ]:
K=float(input("enter the value of k.m="))#k=kilometer
C=K*100000 #centimeter value
print('centimeter=',C)
m=K*1000
print('Meter=',m)
mm=K*1000000
print('milimeter=',mm)

enter the value of k.m=4
centimeter= 400000.0
Meter= 4000.0
milimeter= 4000000.0

In [ ]:
a=45
b=6
print(a//b)

7

In [5]:
a=eval(input("enter the value of a"))
if a%2==0:
 print("number is even")
else:
  print("no is odd")

enter the value of a5
no is odd

In [12]:
a=int(input("enter the value of a"))
if a==20:
  print("no is equal to 20")
elif a==204:
   print("no is equal to 204")
else :
   print("no. is invalide")

enter the value of a33
no. is invalide